body{
    background-color: rgb(69, 114, 116);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h2 {
    text-align: center;
    margin: 1px;
    padding-top: 3%;
    padding-bottom: 1%;
}
div img{
    border-radius: 20px;
}
.homeback{
    display: inline-block;
    padding-top: 1%;

}
.logo{
    display: inline;
    padding-left: 35%;
}
div img{
    border-radius: 20px;
}
ul li, ul p{
    font-size: 25px;
}
.fotocabecada {
    display: block;
    float: left; 
    height: 460px;
    width: 400px;
}
.infocabecada {
    display: inline-block;
    text-align: justify;
    border-radius: 5px;
    background-color: rgb(172, 172, 172);
    width: 900px;
    height: 440px;
    margin: 3px;
    padding: 10px;
    
}
.compra{
    text-align: center;
    margin-top: -17%;
}
footer {
    color: black;
    background-color: rgb(172, 172, 172);
    width: 100%;
    height: 28px;
    border-radius: 7px;
    text-align: center;
}
footer p{
    padding-top: 3px;
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(129, 213, 216);
        border-radius: 6px;
}

@media (max-width: 768px) {
    .fotocabecada {
        text-align: center;
        margin: 0 auto;
        float: none; 
        max-width: 100%;
    }

    .infocabecada{
        width: 96%;
        height: 500px;
    }
}
@media only screen and (min-width: 1920px) {

    .logo{
        display: inline;
        padding-left: 40%;
    }
    .fotocabecada {
        padding-left: 20px;
        display: block;
        float: left; 
        height: 500px;
        width: 500px;
    }

    .infocabecada {
        margin-left: 4%;
        width: 65%;
        height: 470px;
    }
    footer {
        color: black;
        background-color: rgb(172, 172, 172);
        margin-top: 6%;
        width: 100%;
        height: 28px;
        border-radius: 7px;
        text-align: center;
    }
    footer p{
        padding-top: 3px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1290px) {

    h2{
        padding-left: 3%;
    }
    .fotocabecada {
        margin-left: 5px;
        display: block;
        float: left; 
        height: 320px;
        width: 320px;
    }
    .infocabecada {
        display: inline-block;
        text-align: justify;
        border-radius: 5px;
        background-color: rgb(172, 172, 172);
        width: 850px;
        height: 300px;
        margin-left: 3%;
    }
    footer {
        color: black;
        background-color: rgb(172, 172, 172);
        width: 100%;
        height: 28px;
        border-radius: 7px;
        text-align: center;
    }
    footer p{
        padding-top: 3px;
    }
    }