body {
    background-image: url(../img/teste.png);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header { 
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

nav {
    text-align: center;
}

a { 
    padding-left: 25px;
    color: black; 
    text-decoration: none;
    font-size: 17px;
}

a:hover {
    color: #666;
}

div img {
    border-radius: 20px;
}

.importanciacavalo {
    font-size: 20px;
    text-align: justify;
    margin: 20px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 700px;
    height: 330px;
    border-radius: 15px;
    float: left; 
}

.objetivosite {
    font-size: 20px;
    text-align: justify;
    margin: 20px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 700px;
    height: 180px;
    border-radius: 15px;
    float: left; 
}

.fotocavalo {
    padding: 5px;
    padding-right: 5px;
    display: inline-block;
    margin-top: 20px; 
}

footer {
    color: white;
    text-align: center;
}

@media (max-width: 767px) {
    .importanciacavalo,
    .objetivosite{
        width: 80%;
        height: auto;
        float: none;
        margin: 10px 0;
    }
    
    a {
        padding-left: 0;
        display: block;
    }
}
